#screen{
  position: relative;
  width: 300px;
  height: 100px;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: gray;
  text-align: right;

}

#prev {
  min-height: 32px;
  font-size: 20px;
}

#current {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 40px;

}

.btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

#grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(50px, auto);

}

.span-2{
  grid-column: span 2;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}